<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <title>Order save page</title>
</head>
<body class="cntainer-fluid">
<main>
    <h2>주문 수정</h2>
    <hr>
    <div class="container" style="width: 400px">
        <h3>주문 상세 정보</h3>
        <div class="mb-3">
            <label for="id" class="form-label">order id</label>
            <input type="text" class="form-control" th:field="${order.id}" id="id" disabled>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">address</label>
            <input type="text" class="form-control" th:field="${order.address}" id="address">
        </div>
        <div class="mb-3">
            <label for="userId" class="form-label">user id</label>
            <input type="text" class="form-control" th:field="${order.userId}" id="userId" disabled>
        </div>
        <div class="mb-3">
            <label for="orderStatus" class="form-label">order status</label>
            <select class="form-select" aria-label="Default select example" th:field="${order.orderStatus}" id="orderStatus">
                <option value="PREPARING">PREPARING</option>
                <option value="SHIPPING">SHIPPING</option>
                <option value="SHIPPED">SHIPPED</option>
                <option value="CANCELLED">CANCELLED</option>
            </select>
            <button type="button" id="btn-update" class="btn btn-primary">수정</button>
            <button type="button" id="btn-delete" class="btn btn-primary">삭제</button>
            <a href="/orders" role="button" class="btn btn-secondary">취소</a>
        </div>
    </div>
    <div class="container-fluid">
        <h3>주문 아이템 목록</h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a th:href="@{/orderitem/save}" class="btn btn-primary me-md-2" type="button">추가</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">product name</th>
                <th scope="col">quantity</th>
                <th scope="col">order id</th>
                <th scope="col">product id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderItem : ${orderItemList}" th:object="${orderItem}">
                <td th:text="${orderItem.id}"></td>
                <td>
                    <a th:href="@{/product/{id}(id=${orderItem.productId})}"  th:text="${orderItem.productName}"></a>
                </td>
                <td th:text="${orderItem.quantity}"></td>
                <td th:text="${orderItem.orderId}"></td>
                <td th:text="${orderItem.productId}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" th:src="@{/js/order/order.js}"></script>
</main>
</body>
</html>